@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  font-family: 'Cairo', sans-serif;
}

html {
  direction: rtl;
}

body {
  direction: rtl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}